.tab {
    display: flex;
}

.btn {
    background-color: #0d6efd;
    color: white;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.clickedButton {
    background-color: #ffc107;
    color: black;
}